.feature {
  

    &__grid{
        
        
        @include breakpoint-up(medium){ //is going to affect tablets and up
            display: flex;
            
        }

     
    }

    &__item{
        border: 1px solid red;
        padding: 0.97375rem;
        
        @include breakpoint-up(medium){
         
            
        }
        @include breakpoint-up(large){
           flex: 1;
        }   
    }

    &__icon{


    }

    &__title{


    }

    &__description{


    }
}
