.feature {
    
  
    &__intro{
        margin-bottom: 3.75rem;

        @include breakpoint-up(large){
            width: 60%;
            
        }

    }

    &__grid{
        
        
        @include breakpoint-up(medium){ //is going to affect tablets and up
            display: flex;
            flex-wrap: wrap;
            
        }

    }

    &__item{
        border: 1px solid red; //for testing only
        padding: 0.97375rem;
        
        @include breakpoint-up(medium){
            flex: 0 0 50%; //flex grow, shrink, basis
            // Changes to 2 colums next to each other when on tablet view 
            
        }
        @include breakpoint-up(large){
           flex: 1;
        }   
    }

    &__icon{


    }

    &__title{


    }

    &__description{


    }
}
